<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  

  <appSettings>
    <add key="LogPath" value="C:\Log4Net\" />
    <add key="AssemblyName" value="InvoicingTest" />
    <add key="DriverDirectory" value="" />
    <add key="BaseUrl" value="http://localhost/" />
    <add key="ImplicitWaitInmilliseconds" value="60000" />
    <add key="UserName" value="mnguyen3@amaris.com" />
    <add key="Password" value="Amaris2017" />
    <add key="ScreenshotFilePath" value="C:\Log4Net\Screenshots\" />
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=SMART_Amaris;Integrated Security=True" />
  </appSettings>
  <specFlow>
    <unitTestProvider name="NUnit" />
    <runtime stopAtFirstError="false" missingOrPendingStepsOutcome="Inconclusive" />
    <plugins>
      <add name="SpecFlow.Unity" type="Runtime" />
    </plugins>


    
<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdenClass1.cstity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>