<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="LogPath" value="C:\Log4Net\" />
    <add key="AssemblyName" value="AQC.Demo" />
    <add key="DriverDirectory" value="" />
    <add key="BaseUrl" value="http://www.seleniumhq.org/" />
    <add key="ImplicitWaitInmilliseconds" value="5000" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="ScreenshotFilePath" value="C:\Log4Net\" />
    <add key="ScreenshotFilePath" value="C:\Log4Net\" />
  </appSettings>
  <connectionStrings>
    <add name="DapperConnectionString" connectionString="Data Source=localhost;Initial Catalog=SMART_Amaris;integrated security=True" />
    <add name="DapperConnectionString2" connectionString="Data Source=localhost;Initial Catalog=SMART_Amaris;integrated security=True" />
  </connectionStrings>
  <specFlow>
    <unitTestProvider name="NUnit" />
    <runtime stopAtFirstError="false" missingOrPendingStepsOutcome="Inconclusive" />
    <plugins>
      <add name="SpecFlow.Unity" type="Runtime" />
    </plugins>

    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>