<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="LogPath" value="C:\Log4Net\" />
    <add key="AssemblyName" value="FunctionsManagementTest" />
    <add key="DriverDirectory" value="C:\Users\TNG41\Drivers" />
    <add key="BaseUrl" value="https://qaarp.amaris.com/" />
    <add key="ImplicitWaitInmilliseconds" value="60000" />
    <add key="UserName" value="tnguyen29@amaris.com" />
    <add key="Password" value="S@m31315" />
    <add key="ScreenshotFilePath" value="C:\Log4Net\Screenshots\" />
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=SMART_Amaris;Integrated Security=True" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>